<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kapeli.dash.workflow</string>
	<key>connections</key>
	<dict>
		<key>12B8CAB5-9FEE-46F2-B67E-026F4BE48A88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C09F008-55F3-4966-BACC-DF3176E148A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>406C4166-C9CF-496F-8DB1-D43CE5211BEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C09F008-55F3-4966-BACC-DF3176E148A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C09F008-55F3-4966-BACC-DF3176E148A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kapeli</string>
	<key>description</key>
	<string>Search Dash for query</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>12B8CAB5-9FEE-46F2-B67E-026F4BE48A88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>dash</string>
				<key>runningsubtext</key>
				<string>Searching for &quot;{query}&quot;</string>
				<key>script</key>
				<string>./dashAlfredWorkflow &quot;{query}&quot;</string>
				<key>subtext</key>
				<string>Search Dash for &quot;{query}&quot;</string>
				<key>title</key>
				<string>Search Dash</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C09F008-55F3-4966-BACC-DF3176E148A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>dash-workflow-callback://{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>dash_action_openurl</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>406C4166-C9CF-496F-8DB1-D43CE5211BEA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Usage:
&apos;dash {query}&apos;
&apos;{keyword} {query}&apos;

The keyword is either a docset keyword (defined in Preferences &gt; Docsets) or a search profile keyword trigger (defined by clicking on the loupe icon of the main search field).</string>
	<key>uidata</key>
	<dict>
		<key>12B8CAB5-9FEE-46F2-B67E-026F4BE48A88</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>406C4166-C9CF-496F-8DB1-D43CE5211BEA</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>5C09F008-55F3-4966-BACC-DF3176E148A5</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>dash_action_openurl</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>kapeli.com</string>
</dict>
</plist>
